body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fb;
}

.title {
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}
