<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2 class="title">Dashboard</h2>

<div class="cards">

    <div class="card" onclick="window.location.href='/residents'">
        <h3>Residents</h3>
    </div>

    <div class="card">
        <h3>Pending Complaints</h3>
    </div>

    <div class="card">
        <h3>Open Maintenance</h3>
    </div>

    <div class="card">
        <h3>Notices</h3>
    </div>

</div>

</body>
</html>
