<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <div class="sidebar">
        <h2>Trinity Residency</h2>
        <ul>
            <li onclick="go('/')">Dashboard</li>
            <li onclick="go('/residents')">Residents</li>
            <li>Complaints</li>
            <li>Maintenance</li>
            <li>Notices</li>
            <li>Profile</li>
        </ul>
    </div>

    <div class="main">

        <div class="topbar">
            <h2>Welcome, {{user}} 👋</h2>
        </div>

        <div class="cards">
            <div class="card">
                <h3>Residents</h3>
                <p>--</p>
            </div>

            <div class="card">
                <h3>Pending Complaints</h3>
                <p>--</p>
            </div>

            <div class="card">
                <h3>Open Maintenance</h3>
                <p>--</p>
            </div>

            <div class="card">
                <h3>Notices</h3>
                <p>--</p>
            </div>
        </div>

    </div>

</div>

<script src="/static/script.js"></script>
</body>
</html>
